<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mocktest_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="MockTest App"
        android:icon="@mipmap/ic_launcher">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8223246456088610~4153228652"/> <!-- <-- यहां अपना AdMob App ID डालो -->

    </application>
</manifest>
